<h3>Trainer</h3>
<p>Name: <%= @trainer.name if @trainer.name %></p>
<p>Email: <%= @trainer.email if @trainer.email %></p>
<% if @trainer.id == current_trainer.id %>
    <%= button_to "Create Pokemon", new_path(), :class => "button medium", :method => :get %>

    <p>Pokemon: <br/>
      <% @list = @trainer.pokemon%>
      <% @list.each do |x| %>
          <%= x.name %> (<%=x.health%>)
          <%= button_to "Attack!", damage_path(id: x.id), :class => "button medium", :method => :patch %>
      <% end %>
<% end %>
<% if @trainer.id != current_trainer.id %>
    <p>Pokemon: <br/>
      <% @list = @trainer.pokemon%>
      <% @list.each do |x| %>
          <% if x.health > 0 %>
              <%= x.name %> (<%=x.health%>)
              <%= button_to "Attack!", damage_path(id: x.id), :class => "button medium", :method => :patch %>
          <% end %>
      <% end %>
<% end %>
</p>